# neded for node_discovery.py
pick==0.6.4

# real dependency
ansible==2.9.2

# the rest are transitive
MarkupSafe==1.0
asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
Jinja2==2.10
paramiko==2.0.0
pyasn1==0.4.2
six==1.11.0

# for orchestration mode
PyYAML==5.1.2
yamlordereddictloader==0.4.0
