# frontend VLAN
DEVICE="bond0.{{ dc1_frontend_vlan }}"
TYPE="Ethernet"
BOOTPROTO="none"
NM_CONTROLLED="no"
ONBOOT="yes"
USERCTL="no"
IPADDR="{{ dc1_frontend_net }}.{{ ansible_default_ipv4.address.split('.')[3] }}"
PREFIX="{{ dc1_frontend_prefix | replace('/', '')}}"
GATEWAY="{{ dc1_gateway }}"
DNS1="{{ dc1_dns1 }}"
DNS2="{{ dc1_dns2 }}"
IPV6INIT="no"
IPV6ADDR=""
IPV6_DEFAULTGW=""
IPV6_AUTOCONF="no"
DHCPV6C="no"
PHYSDEV="bond0"
VLAN="yes"
