# backend VLAN
DEVICE="bond0.{{ net_backend_vlan }}"
TYPE="Ethernet"
BOOTPROTO="none"
NM_CONTROLLED="no"
ONBOOT="yes"
USERCTL="no"
IPADDR="{{ net_backend_net }}.{{ ansible_default_ipv4.address.split('.')[3] }}"
PREFIX="{{ net_backend_prefix | replace('/', '')}}"
IPV6INIT="no"
IPV6ADDR=""
IPV6_DEFAULTGW=""
IPV6_AUTOCONF="no"
DHCPV6C="no"
PHYSDEV="bond0"
VLAN="yes"
