# frontend VLAN
DEVICE="bond0.{{ net_frontend_vlan }}"
TYPE="Ethernet"
BOOTPROTO="none"
NM_CONTROLLED="no"
ONBOOT="yes"
USERCTL="no"
IPADDR="{{ net_frontend_addr }}"
PREFIX="{{ net_frontend_prefix | replace('/', '')}}"
GATEWAY="{{ net_gateway }}"
DNS1="{{ net_dns1 }}"
DNS2="{{ net_dns2 }}"
IPV6INIT="no"
IPV6ADDR=""
IPV6_DEFAULTGW=""
IPV6_AUTOCONF="no"
DHCPV6C="no"
PHYSDEV="bond0"
VLAN="yes"
