DEVICE="bond0"
TYPE="Bond"
BOOTPROTO="none"
NM_CONTROLLED="no"
ONBOOT="yes"
USERCTL="no"
IPV6INIT="no"
IPV6ADDR=""
IPV6_DEFAULTGW=""
IPV6_AUTOCONF="no"
DHCPV6C="no"
BONDING_OPTS="{{ dc1_bonding_opts }}"
BONDING_MASTER="yes"
