declare ss_SURVEY_FILE=%STAGING_DIRECTORY%/survey.csv
declare ss_SSH_KEY_FILE=%STAGING_DIRECTORY%/cloudian-installation-key
declare ss_STAGING_DIRECTORY=/root/CloudianPackages/{{ hyperstore_version }}
