# Survey file for multinode installation
#
# See your Cloudian HyperStore Installation Guide for
# detailed instructions on other options that can be
# used in this file.
#
{% for host in groups['cloudian'] %}
{{ hyperstore_region }},{{ host }},{{ hostvars[host]['net_frontend_addr'] }},{{ hostvars[host]['hyperstore_dc'] }},{{ hostvars[host]['hyperstore_rack'] }}
{% endfor %}
